<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Rubik&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src='js/modernizr.js'></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <title>My Portfolio</title>
</head>

<body id="page-wrap">
    <div class="row">
        <img class="logo" src="./portfolio-logo.png" alt="Portfolio logo">
    </div>

    <!-- navbar -->
    <div class="row">
        <nav>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a class="active" href="/aboutme">About Me</a></li>
            </ol>
        </nav>
    </div>

    <div id="main">
        <div id="guts">
            <div class="row">
                <p class='about-me-p'>
                    My name is Alan. I've lived in China for the past 4 years as an English teacher. In one of those
                    years I was lucky enough to get a scholarship to study Chinese Mandarin with the British Council.
                    The ability to live in China while being able to really connect with local people and interact with
                    Chinese speakers has greatly shaped my international perspective and understanding of the world.
                </p>
                <img class="about-me-img" src="./scholarship-students.jpg" alt="">
                <p class="about-me-caption">Christmas day as Generation UK British Council students celebrate on the
                    roof of the
                    international
                    student block Wuhan, China</p>
                <p class='about-me-p'>
                    At university I studied politics and was always interested in international development after
                    charitable and business projects I completed in Kenya, 2012 and 2015. Those experiences even
                    inspired
                    me to invest in sustainable farming for rural farmers. I and my partner's sugar cane venture has
                    proven to be
                    quite successful, raising &pound;3000 in net profit. In 2020 we aim to move into a tree farming
                    business.
                </p>
                <img class="about-me-img" src="./kenya.png" alt="Alan with his team and one of the entrepreneurs">
                <p class="about-me-caption">Alan with his business partner Godfrey who he met during a charity program
                    in 2012.</p>
                <p class='about-me-p'>
                    I'm a logical person who loves learning and growing, and so last year I decided to commit to
                    developing skills in tech by joining a coding bootcamp with Le Wagon, Chengdu. What I love about
                    learning code is realising the power I have to create and bring ideas into reality. That's what I
                    want to do now: to work for a company or organisation who wants to use tech to benefit the world.
                    I've been honing my skills creating fun little projects in the past year. I'm also very close to
                    completing an online learning platform for my students so they can learn online through video.
                </p>
                <img class="about-me-img-small" src="./lewagon.jpg" alt="">
                <p class="about-me-caption">The group final product pitch presentation at the end of our 9 week
                    bootcamp, for Ask The Crowd 问群众
                    Chengdu August 2019</p>
            </div>
        </div>

    </div>

    <footer>
        <div class="foot">
            <p>
                <ion-icon name="mail-outline"></ion-icon> alrobwilloliver@gmail.com
            </p>
            <p>
                <ion-icon name="call-outline"></ion-icon> 07468841873
            </p>
            <p>
                <ion-icon name="logo-github"></ion-icon> <a target="_blank"
                    href="https://github.com/alrobwilloliver">https://github.com/alrobwilloliver</a>
            </p>

            <p>Copyright Alan Oliver &copy; 2020</p>
        </div>
    </footer>


</body>

</html>