<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Rubik&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src='js/modernizr.js'></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <title>My Portfolio</title>
</head>

<body id="page-wrap">
    <div class="row">
        <img class="logo" src="./portfolio-logo.png" alt="Portfolio logo">
    </div>

    <!-- navbar -->
    <div class="row">
        <nav>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/projects">Projects</a></li>
            </ol>
        </nav>
    </div>

    <div id="main">
        <div id="guts">
            <div class="row">
                <div class="project-cards">
                    <div class="project-card">
                        <h2>More Deal Sourcing Landing Page</h3>
                            <img class="project-gif" src="https://media.giphy.com/media/L06PhxtpwuSwxGWUdB/giphy.gif"
                                alt="Gif Of More Deal Sourcing Page">
                            <h3>What I learned in this project:</h3>
                            <ul class="project-list">
                                <li>Responsive Design & Optimised Load Times</li>
                                <li>Mobile Friendly Navbar</li>
                                <li>Node Mailer With MongoDb For Email Collection</li>
                            </ul>
                            <div class="project-buttons">
                                <a class="btn btn-full" target="_blank"
                                    href="https://github.com/alrobwilloliver/more-deal-sourcing-node-landing-page">View
                                    Code</a>
                                <a href="#" target="_blank" class="btn btn-ghost">Visit Page</a>
                            </div>
                    </div>
                    <div class="project-card">
                        <h2>Snake Game With LeaderBoard</h3>
                            <img class="project-gif" src="https://media.giphy.com/media/lRLa21bv1BBtnmvyFV/giphy.gif"
                                alt="Gif Of More Deal Sourcing Page">
                            <h3>What I learned in this project:</h3>
                            <ul class="project-list">
                                <li>Javascript Modular Code</li>
                                <li>Fetch Post Requests</li>
                                <li>Using Express Middleware</li>
                            </ul>
                            <div class="project-buttons">
                                <a class="btn btn-full" target="_blank"
                                    href="https://github.com/alrobwilloliver/snakeJavascript">View
                                    Code</a>
                                <a href="https://playmysnake.herokuapp.com/" target="_blank" class="btn btn-ghost">Visit
                                    Page</a>
                            </div>
                    </div>
                    <div class="project-card">
                        <h2>A/B Testing Wechat MiniProgram - Ask The Crowd</h3>
                            <img class="project-gif-small"
                                src="https://media.giphy.com/media/U2SK2nZSc0J0fB72WR/giphy.gif"
                                alt="Gif Of Ask The Crowd Wechat MiniProgram">
                            <h3>What I learned in this project:</h3>
                            <ul class="project-list">
                                <li>Mobile First Front End</li>
                                <li>UI/UX Best Practices</li>
                                <li>Version Control Team Work Flow</li>
                            </ul>
                            <div class="project-buttons">
                                <a class="btn btn-full" target="_blank"
                                    href="https://github.com/sofuegg/askthecrowd">View
                                    Code</a>
                                <!-- <a href="" target="_blank" class="btn btn-ghost">View Demo</a> -->
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="foot">
            <p>
                <ion-icon name="mail-outline"></ion-icon> alrobwilloliver@gmail.com
            </p>
            <p>
                <ion-icon name="call-outline"></ion-icon> 07468841873
            </p>
            <p>
                <ion-icon name="logo-github"></ion-icon> <a target="_blank"
                    href="https://github.com/alrobwilloliver">https://github.com/alrobwilloliver</a>
            </p>

            <p>Copyright Alan Oliver &copy; 2020</p>
        </div>
    </footer>


</body>

</html>