* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

html {
	color: #000;
	font-family:'Fredoka One', cursive;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

img {
    width: 200px;
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
    height: auto;
}

h2 {
	font-size: 150%;
	word-spacing: 2px;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

h3 {
	font-size: 100%;
    margin-bottom: 15px;
    margin-left: 30px;
}

p {
    margin: 20px auto;
    font-size: 50%;
    color: #FFF;
}

a {
    color: white;
}

li {
    display: inline-block;
    text-decoration: none;
    margin: 15px;
    padding: 10px;
}

li > a {
    color: #000 !important;
    padding: 5px;
}

ol {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(75, 150, 215);
    height: 180px;
    width: 100%;
    padding: 50px;
}

.foot > p {
    margin: 10px;
}

/* Structure */

.row {
	margin: 0 5%;
}

.foot {
    text-align: center;
}

/* Reusable Components */

.logo {
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}

.page-content {
    height: 100vh;
}

/* buttons */

/* -----------Buttons---------------- */

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 20px;
	transition: color 0.2s, background-color 0.2s, border 0.2s;
	margin-top: 10px;
}

.btn-full:link,
.btn-full:visited {
	background-color: #4B96D7;
	border: 1px solid #4B96D7;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #4B96D7;
	border: 1px solid #4B96D7;
	/*background-color: #fff;*/
}

.btn:active,
.btn:hover {
	background-color: #4B96D7;
}

.btn-ghost:active,
.btn-ghost:hover {
	color: #fff !important;
	border: 1px solid #fff;
}

.btn-full:active,
.btn-full:hover {
	border: 1px solid #4B96D7;
}

/* navbar */

/* -----------Navbar---------------- */

.active {
    border-bottom: 2px solid #4B96D7;
}


/* utils */

.margin-small {
    margin: 30px;
}

.center {
    text-align: center;
}

.block {
    display: block;
    height: 500px;
}

.flex {
    display: flex;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

/* -----------Project Card---------------- */

.project-cards {
    text-align: center;
}

.project-gif {
    border-radius: 0%;
    height: 100%;
    width: 50%;
    text-align: center;
    margin: 20px;
}

.project-gif-small {
    border-radius: 0%;
    height: 50%;
    width: 25%;
    text-align: center;
    margin: 20px;
}

.project-list {
    text-align: center;
    margin: 50px;
}

.project-list > li {
    display: list-item;
    list-style: none;
}

.project-buttons {
    margin: 50px;
}

.about-me-p {
    color: black;
    font-size: 70%;
    width: 75%;
}

.about-me-img {
    width: 50%;
    border-radius: 0;
    display: block;
    margin: auto;
}

.about-me-img-small {
    width: 40%;
    border-radius: 0;
    display: block;
    margin: auto;
}

.about-me-caption {
    color: rgb(54, 54, 54);
    text-align: center;
    margin: 10px;
}
/* responsive */

@media only screen and (max-width: 600px) {
    .img {
        width: auto;
        height: 200px;
        margin-top: 75px;
    }

    .about-me-img {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 30px;
    }

    .foot {
        margin-top: -10px;
    }
}